main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

main > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

main a {
    padding: 8px 18px;
    margin-top: 2%;
    color: var(--bg);
    background: var(--primaryBtn);
}